---
kind: Secret
apiVersion: v1
metadata:
  name: cataio-cluster-es-credentials
  namespace: default
stringData:
  users: |-
    {{ cataio_es_user }}:{{ cataio_es_pass }}
    cataio_admin:Y2F0YWlvCg==
  users_roles: |-
    superuser:{{ cataio_es_user }},cataio_admin
    kibana_admin:cataio_admin