tracer:
  session_name: {{session_id}}
  events: {{catbpf_events}}
  target_paths: {{catbpf_target_paths}}
  target_pids: []
  target_tids: []
  trace_old_processes: true
  content_form: "{{catbpf_content_form}}"
  capture_arg_paths: false
  capture_proc_events: false
  discard_sock_addr: false
  discard_sock_data: false
  discard_errors: false
  discard_directories: true
  maps_strategy: "one2many"
  perfmap_size: 65536
  show_stats: true
  stats_path: "/catbpf_data/catbpf-stats.json"
  number_consumers: 4
  wait_timeout: {{catbpf_wait_timeout}}

output:
  file_writer:
    enabled: {{catbpf_filewriter_enabled}}
    filename: "/catbpf_data/catbpf-trace.json"
  elasticsearch_writer:
    enabled: {{catbpf_eswriter_enabled}}
    servers: [ {{es_nodes_ips_list | regex_replace('\"', '"') }} ]
    username: {{cataio_es_user}}
    password: {{cataio_es_pass}}
    flush_bytes: {{catbpf_es_flush_bytes}}
    flush_interval: {{catbpf_es_flush_interval}}

logger:
  debug_mode: false
  log2stdout: true
  log2file: false
  log_filename: "/catbpf_data/catbpf-log.txt"
  profiling_on: {{catbpf_prof_on}}
  profiling_result: "/catbpf_data/catbpf-profiling.json"
  save_timestamps: {{catbpf_prof_times}}
  profiling_times_result: "/catbpf_data/catbpf-profiling-times.json"